In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import pandas as pd

In [4]:
raw1 = pd.read_csv("서울경마_3년_2_날짜.csv",engine='python')
raw1.head()

,id,순위,마번,마명,산지,성별,연령,중량,기수명,조교사명,...,4코너,G-3F,G-1F,경주기록,날짜,날씨,주로상태,주로습도,등급,거리
0,1,1,8,일마레,한,수,3,55.5,먼로,서범석,...,00:48.3,00:37.6,00:13.2,01:19.8,2019년04월27일(토),맑음,포화,0.17,국5,1300
1,2,2,6,천하여제,한,암,3,53.0,문세영,지용철,...,00:48.2,00:38.1,00:13.5,01:20.2,2019년04월27일(토),맑음,포화,0.17,국6,1300
2,3,3,4,백두거포,한,거,3,55.0,마누엘,구자흥,...,00:49.0,00:38.0,00:13.3,01:20.8,2019년04월27일(토),맑음,포화,0.17,국6,1300
3,4,4,12,쏘아라흑장군,한,수,3,55.0,이준철,김대근,...,00:49.5,00:38.0,00:13.4,01:21.2,2019년04월27일(토),맑음,포화,0.17,국6,1300
4,5,5,11,퍼스트선더,한,수,4,55.0,김정준,심승태,...,00:49.5,00:38.0,00:13.3,01:21.2,2019년04월27일(토),맑음,포화,0.17,국6,1300

In [5]:
raw=raw1[["순위","마번","마명","산지","성별","연령","중량","마체중","기수명",
 "조교사명","단승","연승","S-1F","4코너","G-3F","G-1F","날씨","주로습도","등급","거리"]]
raw.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,단승,연승,S-1F,4코너,G-3F,G-1F,날씨,주로습도,등급,거리
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,18.6,3.8,00:13.5,00:48.3,00:37.6,00:13.2,맑음,0.17,국5,1300
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,3.1,1.4,00:13.4,00:48.2,00:38.1,00:13.5,맑음,0.17,국6,1300
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,10.8,3.0,00:14.0,00:49.0,00:38.0,00:13.3,맑음,0.17,국6,1300
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,66.8,18.0,00:13.9,00:49.5,00:38.0,00:13.4,맑음,0.17,국6,1300
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,45.3,6.1,00:13.7,00:49.5,00:38.0,00:13.3,맑음,0.17,국6,1300

In [6]:
raw.columns=["순위","마번","마명","산지","성별","연령","중량","마체중","기수명",
 "조교사명","단승","연승","S1F","코너","G3F","G1F","날씨","주로습도","등급","거리"]

In [9]:
import datetime
S1F=[]
for i in raw.S1F:
    S1F.append(datetime.datetime.strptime(i,"%M:%S.%f").second+datetime.datetime.strptime(i,"%M:%S.%f").microsecond/1000000)
cor = []
for i in raw.코너:
    cor.append(datetime.datetime.strptime(i,"%M:%S.%f").minute*60+datetime.datetime.strptime(i,"%M:%S.%f").second+datetime.datetime.strptime(i,"%M:%S.%f").microsecond/1000000)
G3F=[]
for i in raw.G3F:
    G3F.append(datetime.datetime.strptime(i,"%M:%S.%f").minute*60+datetime.datetime.strptime(i,"%M:%S.%f").second+datetime.datetime.strptime(i,"%M:%S.%f").microsecond/1000000)
G1F=[]
for i in raw.G1F:
    G1F.append(datetime.datetime.strptime(i,"%M:%S.%f").minute*60+datetime.datetime.strptime(i,"%M:%S.%f").second+datetime.datetime.strptime(i,"%M:%S.%f").microsecond/1000000)

In [11]:
S1 = pd.DataFrame(S1F)
co = pd.DataFrame(cor)
G3 = pd.DataFrame(G3F)
G1 = pd.DataFrame(G1F)

In [12]:
raw = pd.concat((raw,S1), axis=1)
raw = pd.concat((raw,co), axis=1)
raw = pd.concat((raw,G3), axis=1)
raw = pd.concat((raw,G1), axis=1)

In [13]:
raw.columns

Index([  '순위',   '마번',   '마명',   '산지',   '성별',   '연령',   '중량',  '마체중',  '기수명',
       '조교사명',   '단승',   '연승',  'S1F',   '코너',  'G3F',  'G1F',   '날씨', '주로습도',
         '등급',   '거리',      0,      0,      0,      0],
      dtype='object')

In [14]:
del raw["S1F"]
del raw["코너"]
del raw["G3F"]
del raw["G1F"]

In [15]:
raw.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,단승,연승,날씨,주로습도,등급,거리,0,0,0,0
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,18.6,3.8,맑음,0.17,국5,1300,13.5,48.3,37.6,13.2
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,3.1,1.4,맑음,0.17,국6,1300,13.4,48.2,38.1,13.5
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,10.8,3.0,맑음,0.17,국6,1300,14.0,49.0,38.0,13.3
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,66.8,18.0,맑음,0.17,국6,1300,13.9,49.5,38.0,13.4
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,45.3,6.1,맑음,0.17,국6,1300,13.7,49.5,38.0,13.3

In [16]:
raw.columns=["순위","마번","마명","산지","성별","연령","중량","마체중","기수명",
 "조교사명","단승","연승","날씨","주로습도","등급","거리","S1F","코너","G3F","G1F"]

In [17]:
raw.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,단승,연승,날씨,주로습도,등급,거리,S1F,코너,G3F,G1F
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,18.6,3.8,맑음,0.17,국5,1300,13.5,48.3,37.6,13.2
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,3.1,1.4,맑음,0.17,국6,1300,13.4,48.2,38.1,13.5
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,10.8,3.0,맑음,0.17,국6,1300,14.0,49.0,38.0,13.3
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,66.8,18.0,맑음,0.17,국6,1300,13.9,49.5,38.0,13.4
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,45.3,6.1,맑음,0.17,국6,1300,13.7,49.5,38.0,13.3

In [18]:
pd.get_dummies(raw["성별"]).head()

   거  수  암
0  0  1  0
1  0  0  1
2  1  0  0
3  0  1  0
4  0  1  0

In [19]:
raw1 = raw.merge(pd.get_dummies(raw["성별"]),left_index = True,right_index = True )
raw1.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,...,주로습도,등급,거리,S1F,코너,G3F,G1F,거,수,암
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,...,0.17,국5,1300,13.5,48.3,37.6,13.2,0,1,0
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,...,0.17,국6,1300,13.4,48.2,38.1,13.5,0,0,1
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,...,0.17,국6,1300,14.0,49.0,38.0,13.3,1,0,0
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,...,0.17,국6,1300,13.9,49.5,38.0,13.4,0,1,0
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,...,0.17,국6,1300,13.7,49.5,38.0,13.3,0,1,0

In [20]:
pd.get_dummies(raw1["날씨"]).head()

   눈  맑음  비  안개  흐림
0  0   1  0   0   0
1  0   1  0   0   0
2  0   1  0   0   0
3  0   1  0   0   0
4  0   1  0   0   0

In [21]:
raw2 = raw1.merge(pd.get_dummies(
    raw["날씨"]),left_index = True,right_index = True )
raw2.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,...,G3F,G1F,거,수,암,눈,맑음,비,안개,흐림
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,...,37.6,13.2,0,1,0,0,1,0,0,0
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,...,38.1,13.5,0,0,1,0,1,0,0,0
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,...,38.0,13.3,1,0,0,0,1,0,0,0
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,...,38.0,13.4,0,1,0,0,1,0,0,0
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,...,38.0,13.3,0,1,0,0,1,0,0,0

In [22]:
raw3 = raw2.merge(pd.get_dummies(
    raw["기수명"]),left_index = True,right_index = True )
raw3.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,...,칼슨,타케,페로비치,프랑소와,하정훈,함완식,홀랜드,황순도,황종우,후지이
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,...,0,0,0,0,0,0,0,0,0,0
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,...,0,0,0,0,0,0,0,0,0,0
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,...,0,0,0,0,0,0,0,0,0,0
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,...,0,0,0,0,0,0,0,0,0,0
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,...,0,0,0,0,0,0,0,0,0,0

In [23]:
raw4 = raw3.merge(pd.get_dummies(
    raw["등급"]),left_index = True,right_index = True )
raw4.head()

,순위,마번,마명,산지,성별,연령,중량,마체중,기수명,조교사명,...,국2,국3,국4,국5,국6,외1,외2,외3,외4,외미검
0,1,8,일마레,한,수,3,55.5,472,먼로,서범석,...,0,0,0,1,0,0,0,0,0,0
1,2,6,천하여제,한,암,3,53.0,493,문세영,지용철,...,0,0,0,0,1,0,0,0,0,0
2,3,4,백두거포,한,거,3,55.0,472,마누엘,구자흥,...,0,0,0,0,1,0,0,0,0,0
3,4,12,쏘아라흑장군,한,수,3,55.0,545,이준철,김대근,...,0,0,0,0,1,0,0,0,0,0
4,5,11,퍼스트선더,한,수,4,55.0,491,김정준,심승태,...,0,0,0,0,1,0,0,0,0,0

In [24]:
raw4.to_csv("서울경마_더미2.csv", encoding = 'ms949')